# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build App

on: [push]

permissions:
  contents: read


jobs:
  symfony-tests:
    runs-on: ubuntu-latest
    container:
      image: dunglas/frankenphp:1-php8.4

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Composer dependencies
      run: composer install --no-ansi --no-dev --no-interaction --no-progress --optimize-autoloader
