# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build App

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      docker: # Определяем сервис Docker для сборки и запуска контейнера
        image: docker:latest  # Используем образ Docker
        options: --privileged  # Разрешаем привилегированный доступ (нужно для Docker внутри Actions)

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image        # Шаг сборки Docker образа, согласно вашему Dockerfile
      run: docker build --target frankenphp_dev -t php-symfony -f Dockerfile .

    - name: Run linters and static analysis inside container  # Запускаем линтеры и статический анализ по коду внутри контейнера
      run: docker run --rm php-symfony /bin/bash -c "vendor/bin/php-cs-fixer fix --dry-run --diff"
