name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ${{ secrets.SSH_PATH_TO_APP }}/api/
            cp .env.prod .env.prod.local
            sed -i.bak 's/^DATABASE_USER=.*/DATABASE_USER=${{ secrets.DATABASE_USER }}/' .env.prod.local
            sed -i.bak 's/^DATABASE_PASSWORD=.*/DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}/' .env.prod.local
            sed -i.bak 's/^APP_VERSION=.*/APP_VERSION=${{ github.ref_name }}/' .env.prod.local
            sed -i.bak 's/^APP_SECRET=.*/APP_SECRET=${{ secrets.APP_SECRET }}/' .env.prod.local
            cd ../infra-docker/
            make deploy-api-tag TAG=${{ github.ref_name }}

